/* common.css */
@charset "utf-8";

:root {
    /* color */
    --blue: #116DD9;
    --blue-hover: #0458BA;
    --blue2: #3083E3;
    --red: #ff3e33;
    --white: #ffffff;
    --gray1: #f9f9f9;
    --gray2: #dbdbdb;
    --gray3: #cccccc;
    --gray4: #999999;
    --gray5: #555555;
    --gray6: #2e2e2e;
    --gray7: #212121;
    --black: #1e1e1e;

    /* border */
    --border-radius: 8px;

    /* main - contents */
    --main-cont-top-margin: 30px;
}

.ir-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.no-data {
    display: block;
    font-size: 16px;
    color: var(--gray4);
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 50px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.gray-txt {
    color: var(--gray4);
}

.blue-txt {
    color: var(--blue2);
}

.red-txt {
    color: var(--red);
}

/* button style */
:where(button, .a-btn) {
    display: inline-block;
}

.btn-group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn-group2 :where(input, button, .a-btn) {
    width: 49%;
    border: none;
}

:where(.form-btn, .a-btn, .modal-btn, .radius-btn) {
    width: 100%;
    border-radius: var(--border-radius);
}

.blue-btn {
    color: var(--white);
    background-color: var(--blue);
    border-radius: var(--border-radius);
}

.blue-btn:where(:hover, :focus, :active) {
    background-color: var(--blue-hover);
    transition: all 0.2s;
}

.blue-btn:disabled {
    background-color: var(--gray3);
    cursor: default;
}

.blue-line-btn {
    color: var(--blue2);
    border: 1px solid var(--blue2);
    border-radius: var(--border-radius);
}

.blue-line-btn:where(:hover, :focus, :active) {
    color: var(--blue2);
    border: 1px solid var(--blue2);
    background-color: #e7f2ff;
    transition: all 0.1s;
}

.gray-btn {
    color: var(--white);
    background-color: var(--gray4);
    border-radius: var(--border-radius);
}

.gray-line-btn {
    color: var(--gray5);
    border: 1px solid var(--gray4);
    border-radius: var(--border-radius);
}

.gray-line-btn:where(:hover, :focus, :active) {
    color: var(--gray6);
    border: 1px solid var(--gray5);
    transition: all 0.1s;
}

.gray-circle-btn {
    padding: 5px;
    background-color: var(--gray6);
    border-radius: 50%;
    margin-left: 4px;
}

.btn-l {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
}

.btn-m {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
}

.btn-s {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
}

.btn-xs {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.modal.show {
    display: block;
}

.modal .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 370px;
    height: auto;
    padding: 60px 40px 50px;
    text-align: center;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.modal .modal-body .modal-tit {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    padding-bottom: 16px;
}

.modal .modal-body .modal-txt {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.modal .modal-body .btn-group2 {
    max-width: 200px;
    margin: 40px auto 0;
}

.modal .modal-type1 .modal-tit {
    font-size: 20px;
    font-weight: 700;
}

.modal-news .modal-body {
    max-width: 800px;
    width: 95%;
    height: 95vh;
    padding: 60px 16px 40px 40px;
    text-align: left;
    background-color: var(--white);
}

.modal-news .modal-body .modal-news-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
}

.modal-news .modal-body .modal-news-wrap {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 20px;
}

.modal-news .modal-body .modal-news-header {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--gray2);
}

.modal-news .modal-body .modal-news-header .modal-news-logo {
    width: auto;
    height: 20px;
}

.modal-news .modal-body .modal-news-header .modal-news-logo img {
    width: auto;
    height: 100%;
}

.modal-news .modal-body .modal-news-header .modal-news-tit {
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
    padding: 8px 0 16px;
}

.modal-news .modal-body .modal-news-header .modal-news-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modal-news .modal-body .modal-news-header .modal-news-info > div {
    display: flex;
    flex-wrap: wrap;
}

.modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-txt p {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray5);
    padding: 0 8px;
    border-left: 1px solid var(--gray3);
}

.modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-txt p:first-child {
    padding-left: 0;
    border-left: 0;
}

.modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-btn button {
    border-radius: 4px;
}

.modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-btn button:not(:first-child) {
    margin-left: 4px;
}

.modal-news .modal-body .modal-news-cont .modal-news-cont-img {
    text-align: center;
    margin-bottom: 16px;
}

.modal-news .modal-body .modal-news-cont .modal-news-cont-img img {
    width: auto;
    max-height: 300px;
}

.modal-news .modal-body .modal-news-cont .modal-news-cont-img p {
    font-size: 14px;
    color: var(--gray5);
    padding-top: 8px;
}

.modal-news .modal-body .modal-news-cont .modal-news-cont-txt p {
    padding-bottom: 16px;
}

/* input */
input[type="text"].input-l,
input[type="password"].input-l,
input[type="reset"].input-l,
input[type="submit"].input-l,
input[type="tel"].input-l,
input[type="number"].input-l,
input[type="email"].input-l,
input[type="search"].input-l,
input[type="datetime-local"].input-l,
input[type="date"].input-l {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 16px;
}

input[type="text"].input-s,
input[type="password"].input-s,
input[type="reset"].input-s,
input[type="submit"].input-s,
input[type="tel"].input-s,
input[type="number"].input-s,
input[type="email"].input-s,
input[type="search"].input-s,
input[type="datetime-local"].input-s,
input[type="date"].input-s {
    width: 100%;
    height: 34px;
    font-size: 12px;
    padding: 8px;
}

input:disabled {
    color: var(--gray4);
    cursor: default;
}

:where(input, textarea)::placeholder {
    font-size: inherit;
    color: var(--gray4);
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

:where(input[type="date"], input[type="datetime-local"]) {
    position: relative;
    cursor: default;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button,
input[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    z-index: 1;
}

:where(input[type="date"], input[type="datetime-local"]).input-s:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    width: 16px;
    height: 16px;
    background: url("../images/calendar.svg") no-repeat center/16px 16px;
}

:where(input[type="date"], input[type="datetime-local"]).input-l:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 16px;
    height: 16px;
    background: url("../images/calendar.svg") no-repeat center/16px 16px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

input[type="range"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 300px;
    font-size: 16px;
    color: var(--white);
    background: var(--gray6);
    border: none;
    border-radius: var(--border-radius);
    padding: 16px;
}

.input-txt {
    position: relative;
    background: transparent;
}

.input-txt input + span {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 12px;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-split input {
    width: 50% !important;
    border-radius: 0;
    border-left: 1px solid var(--gray7);
}

.input-split3 input {
    width: 33.3333% !important;
}

.input-split input:first-child {
    border-radius: 8px 0 0 8px;
    border-left: 0;
}

.input-split input:last-child {
    border-radius: 0 8px 8px 0;
}

.checkbox {
    font-size: 0;
}

.checkbox input[type="checkbox"] {
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    color: var(--white);
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--white);
    border-radius: 4px;
    background: transparent;
    box-sizing: border-box;
}

.checkbox label:after {
    content: "";
    display: none;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: var(--blue) url("../images/checkbox_icon.svg") no-repeat center/16px 16px;
}

.checkbox input[type="checkbox"]:checked + label:after {
    display: inline-block;
}

.checkbox input[type="checkbox"]:checked + label:before {
    background: var(--blue);
    border-color: var(--blue);
}

.radio {
    font-size: 0;
}

.radio > li {
    display: inline-block;
    padding-left: 24px;
}

.radio > li:first-child {
    padding-left: 0;
}

.radio input[type="radio"] {
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    color: var(--white);
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer;
}

.radio label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
    background: transparent;
    box-sizing: border-box;
}

.radio label:after {
    content: "";
    display: none;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: var(--border-radius);
    background: var(--blue);
}

.radio input[type="radio"]:checked + label:after {
    display: inline-block;
}

select {
    width: 100%;
    background: #fff url("../images/arrow.png") no-repeat center right 16px / 16px 16px;
}

select option {
    padding: 8px;
    background: #fff;
}

select.select-m {
    height: 50px;
    padding: 0 40px 0 16px;
    font-size: 16px;
}

select.select-s {
    height: 40px;
    padding: 0 40px 0 16px;
    font-size: 16px;
}

.select2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
}

.select2 select {
    width: 49%;
}

/* search */
.search-box,
.search-auto {
    position: relative;
    margin-bottom: 8px;
}

.search-auto:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    background: url("../images/search_default.png") no-repeat center;
    background-size: 16px 16px;
}

.search-box input[type="search"] {
    padding-right: 50px;
}

.search-auto input[type="search"] {
    padding-left: 36px;
    padding-right: 32px;
}

.text-clear {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.search-box .text-clear {
    right: 34px;
}

.text-clear:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    z-index: 1;
    background: url("../images/close.svg") no-repeat center;
    background-size: 16px 16px;
}

.input-search:not(:valid) ~ .text-clear {
    display: none;
}

.search-box button.sch-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.2s;
    width: 34px;
    height: 34px;
    background: url("../images/search_default.png") no-repeat center;
    background-size: 16px 16px;
}

.search-box button.sch-icon:where(:hover, :focus, :active) {
    background-image: url("../images/search_hover.png");
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    background: var(--gray5);
    border-radius: 40px;
    cursor: pointer;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 12px;
    background: var(--gray5);
    border-radius: inherit;
    color: var(--white);
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    opacity: 0;
}

.switch-input:checked ~ .switch-label {
    background: var(--blue);
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: var(--white);
    border-radius: 100%;
}

.switch-input:checked ~ .switch-handle {
    left: 32px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label,
.switch-handle {
    transition: All 0.3s ease;
}

/* toggle radio button */
.toggle-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.toggle-radio input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.toggle-radio label {
    width: 50%;
    background-color: var(--gray6);
    color: var(--white);
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.toggle-radio label:hover {
    cursor: pointer;
}

.toggle-radio input:checked + label {
    background-color: var(--blue);
    box-shadow: none;
}

.toggle-radio label:first-of-type {
    border-radius: 8px 0 0 8px;
}

.toggle-radio label:last-of-type {
    border-radius: 0 8px 8px 0;
}

.toggle-radio2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.toggle-radio2 .toggle-radio {
    width: 48%;
}

.toggle-gray label {
    background-color: var(--gray7);
}

.toggle-gray input:checked + label {
    background-color: var(--gray5);
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--gray5);
    border-radius: var(--border-radius);
    outline: none;
    margin: 4px 0;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    -moz-appearance: none;
    height: 4px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: var(--blue);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
    border: none;
}

/* 공통 - form list type */
.list-type-form ul {
    text-align: left;
    margin-bottom: 32px;
}

.list-type-form ul li {
    padding-top: 8px;
}

.list-type-form ul li:first-child {
    padding-top: 0;
}

.list-type-form ul li label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 4px;
    color: var(--gray5);
}

/* 새창 팝업 공통 */
.window-popup {
    width: 100%;
    height: 100%;
    background-color: var(--gray7);
    padding: 50px 10px;
    overflow: auto;
}

/* form */
.form-type .form-group .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 12px;
}

.form-type .form-group .form-row:last-child {
    margin-bottom: 0;
}

.form-type .form-group .form-row .form-tit {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray5);
    padding-bottom: 6px;
}

.form-type .form-group .form-row .input-box {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

.form-group .form-row .input-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;
}

.form-group .form-row .input-btn input {
    display: inline-block;
    width: calc(100% - 98px);
}

.form-group .form-row .input-btn button {
    display: inline-block;
    width: 90px;
    margin-left: 8px;
}

.form-group .form-row .input-group > input,
.form-group .form-row .input-group .input-btn {
    margin-top: 8px;
}

.form-group .form-row .input-group > input:first-child,
.form-group .form-row .input-group .input-btn:first-child {
    margin-top: 0;
}

form .error-txt,
.error-txt {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: var(--red);
    line-height: 2;
}

.form-type .form-group .row5 {
    max-width: 50%;
}

.form-type .form-group .row10 {
    max-width: 100%;
}

/* table */
table {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    word-break: break-all;
    table-layout: fixed;
}

td,
th {
    font-size: 14px;
    font-weight: 400;
    padding: 6px;
    text-align: center;
    min-height: 35px;
    border-bottom: 1px solid var(--gray6);
}

th {
    font-weight: 700;
    color: var(--white);
}

table tr.tr-first {
    border-top: 1px solid var(--gray5);
}

table tr.tr-first th {
    border-bottom: 1px solid var(--gray5);
}

table tr:hover td {
    background-color: rgba(0, 0, 0, 0.2);
}

table td.td-left {
    text-align: left;
}

table tbody tr:last-child td {
    border-bottom: 1px solid var(--gray5);
}

/* paging */
.paging .pagination {
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.paging .pagination :where(a, button) {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray4);
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    margin: 0 2px;
    vertical-align: middle;
}

.paging .pagination a:where(.first-prev, .end-next),
.paging .pagination button:where(.first-prev, .end-next) {
    background: url("../images/paging2.png") no-repeat center/24px 24px;
}

.paging .pagination a:where(.prev, .next),
.paging .pagination button:where(.prev, .next) {
    background: url("../images/paging1.png") no-repeat center/24px 24px;
}

.paging .pagination a:where(.end-next, .next),
.paging .pagination button:where(.end-next, .next) {
    transform: rotate(180deg);
}

.paging .pagination a:not(.paging-icon):where(.active, :hover),
.paging .pagination button:not(.paging-icon):where(.active, :hover) {
    background-color: var(--blue);
    color: var(--white);
}

.paging .pagination a.disabled,
.paging .pagination button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.txt-btn {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray5);
    padding-right: 20px;
}

.txt-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: url("../images/txtbtn_right.svg") no-repeat center / 18px 18px;
}

.txt-btn:where(:hover, :focus, :active) {
    color: var(--black);
}

.wrap .layout {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.main-tit {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    padding-bottom: 16px;
}

.main-issue {
    margin-top: 20px;
}

.main-issue .main-issue-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    border: 1px solid var(--gray2);
    border-radius: var(--border-radius);
}

.main-issue .main-issue-cont .main-issue-img-cont {
    position: relative;
    width: 360px;
    margin-right: 50px;
}

.main-issue .main-issue-cont .main-issue-img-cont button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    align-items: flex-end;
    justify-content: space-between;
}

.main-issue .main-issue-cont .main-issue-img-cont .main-issue-img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    border: 1px solid #eee;
    border-radius: var(--border-radius);
}

.main-issue .main-issue-cont .main-issue-img-cont .main-issue-img-tit {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    padding: 20px 0 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.main-issue .main-issue-cont .main-issue-list-cont {
    max-width: 650px;
    width: 100%;
}

.main-issue .main-issue-cont .main-issue-list-cont ul li:not(:first-child) {
    margin-top: 16px;
}

.main-issue .main-issue-cont .main-issue-list-cont ul li button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-issue .main-issue-cont .main-issue-list-cont ul li button .main-issue-list-txt1 {
    width: calc(100% - 130px);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black);
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.main-issue .main-issue-cont .main-issue-list-cont ul li button .main-issue-list-txt2 {
    width: 130px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray5);
    text-align: right;
}

.main-issue .main-issue-cont .main-issue-list-cont ul li button:hover .main-issue-list-txt1 {
    color: var(--blue);
}

.main-keyword {
    margin-top: var(--main-cont-top-margin);
    margin-bottom: 20px;
}

.main-keyword .main-keyword-cont {
    position: relative;
    width: 100%;
    height: 380px;
    padding: 16px;
    border: 1px solid var(--gray2);
    border-radius: var(--border-radius);
    background-color: var(--gray1);
}

.main-keyword .main-keyword-cont .main-keyword-legend {
    position: absolute;
    top: 16px;
    left: 24px;
    display: flex;
    flex-wrap: wrap;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend:not(:first-child) {
    margin-left: 16px;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend .legend-color {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend1 .legend-color {
    background-color: #0F6FFF;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend2 .legend-color {
    background-color: #29C110;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend3 .legend-color {
    background-color: #F77700;
}

.main-keyword .main-keyword-cont .main-keyword-legend .legend .legend-txt {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray5);
}

.main-keyword .main-keyword-cont .main-keyword-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-news-search {
    margin-top: 20px;
}

.main-news-search .main-news-search-cont {
    width: 100%;
    text-align: center;
    padding: 40px 16px;
    border: 1px solid var(--gray2);
    border-radius: var(--border-radius);
    background-color: var(--gray1);
}

.main-news-search .main-news-search-cont .input-group {
    justify-content: center;
    max-width: 936px;
    margin: 0 auto;
}

.main-news-search .main-news-search-cont .input-group > div:not(.input-search) {
    width: 20%;
    margin-right: 8px;
}

.main-news-search .main-news-search-cont select {
    width: 100%;
    margin-right: 8px;
}

.main-news-search .main-news-search-cont .input-search {
    width: calc(80% - 8px);
    font-size: 0;
}

.main-news-search .main-news-search-cont .input-search input {
    width: calc(100% - 128px);
}

.main-news-search .main-news-search-cont .input-search button {
    width: 120px;
    margin-left: 8px;
}

.main-news-list {
    margin-top: var(--main-cont-top-margin);
    margin-bottom: 100px;
}

.main-news-list .main-news-list-cont {
    width: 100%;
}

.main-news-list .main-news-list-cont > ul {
    border-top: 1px solid var(--gray2);
}

.main-news-list .main-news-list-cont .main-news-list-info {
    padding-bottom: 12px;
}

.main-news-list .main-news-list-cont ul li .news_title_btn {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 20px 16px;
    border-bottom: 1px solid var(--gray2);
}

.main-news-list .main-news-list-cont ul li:first-child a {
    border-top: 1px solid var(--gray2);
}

.main-news-list .main-news-list-cont ul li .news_title_btn > div {
    width: 740px;
}

.main-news-list .main-news-list-cont ul li .news_title_btn > div > p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-tit {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    padding-bottom: 8px;
    text-align: left;
}

.main-news-list .main-news-list-cont ul li:hover .news_title_btn .main-news-list-tit {
    color: var(--blue);
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-txt {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray5);
}

.main-news-list .main-news-list-cont ul li:hover .news_title_btn .main-news-list-txt {
    text-decoration: underline;
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 420px;
    margin-top: 16px;
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt span {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray5);
    padding: 0 8px;
    border-left: 1px solid var(--gray3);
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt span:first-child {
    padding-left: 0;
    border-left: 0;
}

.main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt span:last-child {
    padding-right: 0;
}

.main-news-list .main-news-list-cont ul li.no-data {
    padding: 100px 0 100px;
    border-top: 1px solid var(--gray2);
    border-bottom: 1px solid var(--gray2);
}

.main-link-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.main-link-btn a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--gray4);
}

.main-link-btn a:where(:hover, :focus, :active) {
    background-color: var(--gray5);
    transition: all 0.2s;
}

/* tablet */
@media all and (max-width: 1024px) {

    .wrap .layout {
        padding: 0 16px;
    }

    .main-issue .main-issue-cont {
        flex-wrap: wrap;
        padding: 16px;
    }

    .main-issue .main-issue-cont .main-issue-img-cont {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .main-issue-img {
        width: 50%;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .main-issue-img-tit {
        width: 48%;
        line-height: 1.5;
        padding: 0;
        margin-bottom: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .txt-btn {
        position: absolute;
        left: 52%;
        bottom: 0;
    }

    .main-issue .main-issue-cont .main-issue-list-cont {
        width: 100%;
        max-width: 100%;
    }

    .main-issue .main-issue-cont .main-issue-list-cont ul li:not(:first-child) {
        margin-top: 8px;
    }

    .main-news-search .main-news-search-cont .input-search input {
        width: calc(100% - 88px);
    }

    .main-news-search .main-news-search-cont .input-search button {
        width: 80px;
    }

    .main-news-list .main-news-list-cont ul li a {
        padding: 20px 0;
    }

    .main-news-list .main-news-list-cont ul li a > div {
        width: 100%;
        padding-bottom: 8px;
    }

    .main-news-list .main-news-list-cont ul li a .main-news-list-stxt {
        justify-content: flex-start;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn > div {
        width: 100%;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-tit {
        font-size: 18px;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt {
        max-width: 100%;
        justify-content: flex-start;
    }

    .modal-news .modal-body {
        padding: 40px 10px 20px 20px;
    }

    .modal-news .modal-body .modal-news-wrap {
        padding-right: 10px;
    }

    .modal-news .modal-body .modal-news-close {
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
    }
}

/* mobile */
@media all and (max-width: 640px) {

    select.select-m {
        height: 40px;
    }

    /* input */
    input[type="text"].input-l,
    input[type="password"].input-l,
    input[type="reset"].input-l,
    input[type="submit"].input-l,
    input[type="tel"].input-l,
    input[type="number"].input-l,
    input[type="email"].input-l,
    input[type="search"].input-l,
    input[type="datetime-local"].input-l,
    input[type="date"].input-l {
        height: 40px;
    }

    .btn-l {
        height: 40px;
        line-height: 40px;
    }

    .main-tit {
        font-size: 20px;
        padding-bottom: 8px;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .main-issue-img {
        width: 100%;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .main-issue-img-tit {
        width: 100%;
        margin: 16px 0 12px;
        font-size: 16px;
    }

    .main-issue .main-issue-cont .main-issue-img-cont .txt-btn {
        position: relative;
        left: auto;
        bottom: auto;
    }

    .main-issue .main-issue-cont .main-issue-list-cont ul li button .main-issue-list-txt1 {
        width: calc(100% - 80px);
        font-size: 14px;
    }

    .main-issue .main-issue-cont .main-issue-list-cont ul li button .main-issue-list-txt2 {
        width: 80px;
        font-size: 13px;
    }

    .main-news-search .main-news-search-cont .input-group > div:not(.input-search) {
        width: 100%;
        margin-right: 0;
    }

    .main-news-search .main-news-search-cont {
        padding: 16px;
    }

    .main-news-search .main-news-search-cont .input-search {
        width: 100%;
        margin-top: 8px;
    }

    .main-news-list {
        margin-bottom: 50px;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn {
        padding: 16px 0;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-tit {
        font-size: 14px;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-txt {
        font-size: 14px;
    }

    .main-news-list .main-news-list-cont ul li .news_title_btn .main-news-list-stxt span:last-child {
        width: 100%;
        text-align: left;
        padding: 4px 0 0;
        border-left: none;
    }

    .modal .modal-body {
        min-width: 300px;
    }

    .modal-news .modal-body .modal-news-header .modal-news-tit {
        font-size: 16px;
        padding: 8px 0;
    }

    .modal-news .modal-body .modal-news-header .modal-news-info > div {
        width: 100%;
    }

    .modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-txt {
        margin-bottom: 8px;
    }

    .modal-news .modal-body .modal-news-header .modal-news-info .modal-news-info-txt p {
        font-size: 12px;
    }

    .modal-news .modal-body .modal-news-header {
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .modal-news .modal-body .modal-news-cont .modal-news-cont-img img {
        max-height: 200px;
    }

    .modal-news .modal-body .modal-news-cont .modal-news-cont-txt p > span {
        font-size: 14px;
    }
}
